autopep8==2.3.2
black==25.1.0
cfgv==3.4.0
click==8.1.8
distlib==0.3.9
filelock==3.17.0
flake8==7.1.1
identify==2.6.6
iniconfig==2.0.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.14.1
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
phonenumbers==8.13.53
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.1.0
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
pytest==8.3.4
PyYAML==6.0.2
rich==13.9.4
ruff==0.9.3
typing_extensions==4.12.2
virtualenv==20.29.1
watchdog==6.0.0
